
    <table>
        <tr>
            <td>Email id :</td>
            <td><input type="email" id="loginId" placeholder="Email Id"></td>
        </tr>
        <tr>
            <td>Password :</td>
            <td><input type="password" id="loginPassword" placeholder="Password" ></td>
        </tr>
        <tr>
            <td><button type="button" (click) = "loginService()" class="btn btn-primary">Login</button></td>
        </tr>
    </table>
<!--div>
    <p *ngFor="let item of users">{{item.emailId}}</p>
</div-->